<div class="container mt-5">

    <div class="card text-center">
        
        <div class="card-body">
            <h5 class="card-title">Bienvenido!</h5>
            <img class="home-img" src="../../../assets/homeimg.jpg" height="300px">
            <p class="card-text">Somos una tienda de guitarras y en esta página podrá observar los diferentes estilos
                que manejamos.</p>
            <a class="btn btn-outline-primary" routerLink="dashboard">Ir al dashboard</a>
        </div>
    </div>

</div>