<h1 class="text-center">Dashboard</h1>
<br>
<div class="container text-center">
    <div class="card text-center">
        <div class="card-header">
            Air Quality Index Service
        </div>
        <div class="card-body">
            <h5 class="card-title">Medición de Material particulado 2.5 (PM2.5)</h5>
            <p class="card-text">{{aqi}}</p>
            <button class="btn btn-primary" (click)="getAQI()" [disabled]="lockButton">Obtener medición</button>
        </div>
        <div class="card-footer text-muted">
            {{date.toLocaleString()}}
        </div>
    </div>
</div>