<div class="container mt-5">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Nuestras guitarras</h5>
            <hr>
            <div class="d-flex flex-wrap justify-content-evenly">
                <div class="card border-info mb-3" style="max-width: 18rem;" *ngFor="let guitar of allGuitars">
                    <div class="card-header">{{guitar.marca + " - " + guitar.modelo}}</div>
                    <div class="card-body">
                        <h5 class="card-title">Información de la guitarra</h5>
                        <p class="card-text">{{"Tipo: " + guitar.tipo}}</p>
                        <p class="card-text">{{"Precio: " + guitar.precio}}</p>
                        <p class="card-text">{{"Stock: " + guitar.stock}}</p>
                    </div>
                </div>
            </div>
            <a class="btn btn-outline-primary" routerLink="">Ir al Home</a>
        </div>
    </div>
</div>